@import url('https://fonts.googleapis.com/css2?family=Stick&display=swap');

*{
	padding: 0;
}
body{
	background: url(../img/background.jpg);
	background-repeat: no-repeat;
	background-position: cover;
}
h1{
	color: white;
	text-align: center;
	text-shadow: -5px -5px 5px #000;


}

legend,p{
	font-family: 'Stick';
	text-align: right;
	color: yellow;
}

table{
	background: rgba(136,136,136,.3);
	border:1px dotted white;
}

div{
	text-align: justify;
	font-size: 14px;
	color: white;
}

th,label{
	color: white;
	text-shadow: -5px -5px 3px #000;

}

table{
	width: 295px;
	height: 320px;
}

span{
	text-align: center;
}

input[type=reset]{
	text-align: right;
	margin-left: 150px;

}

td{
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

a{
	color: yellow;
}

fieldset{
	height: 500px;
}